<h1>TASK</h1>
<ol>
	<li>User sign up.</li>
	<li>Change profile image.</li>
	<li>Experiences with projects section (view and edit).</li>
	<li>Unique public URL for resume that can be shared with everyone.</li>
</ol>